body {
}


.content{
    width:95%;
    margin:0.5rem auto;
}

.NewWordSelect{
    /*margin: 20rem*/
}
.controlGroup
{
    margin: 0rem 0rem 1rem 0rem;
    padding: 0rem;
    border: 0rem;
}

.controlGroupName
{
    font:normal normal normal 11pt/15pt "Segoe UI Semilight";
    font-size: 11pt; 
    margin:0rem 0rem 0.8rem 0rem;
    padding:0rem;
    border: 0rem;
    position:relative;
    vertical-align:top;
    display:block;
}

.verticalStacking input[type="checkbox"]
{
    margin-bottom: 1rem;
}

.btn_open_newword_file{
    margin-top:0.3rem;
}

.switch{
     /*display:inline;*/
     margin-bottom:0.3rem;
}
.text_without_annotation_file{
    height:15rem;
    /*background-color:whitesmoke;*/
    margin-top:0.5rem;
}

