body {
    text-align:center;
    width:100%;
}

/*.win-button{
    margin:5px;
}*/

#btnOpenNewWordFile {
    width:98%;
    margin:5px
}
#btnOpenEnglishTextFile {
    width:98%;
    margin:5px
}
#btnStartAddComment {
    width:98%;
    margin:5px
}

#btnSaveProcessedFile {
    width:98%;
    margin:5px
}


#main{
    margin:0px auto;
    
}